<div class='row'>
	<div class='span2'>
		<div class='well'>
			About Sidexside
		</div>
	</div>
	<div class='span10'>
		<h2>About Sidexside</h2>
		<p>
		Sidexside is a <%= link_to "Shopify", "http://www.shopify.com", :target => "_blank" %> app built for store administrators.
		It was developed by <%= link_to "Casey Li", "http://www.caseyli.com/home", :target => "_blank" %>
		using the <%= link_to "Shopify API", "http://api.shopify.com/", :target => "_blank" %>.
		</p>
		
		<p>
			Please visit our <%= link_to "Help", "/help" %> page for instructions.
		</p>
		
		<p>
			Please visit our <%= link_to "Feedback", "/feedback" %> page to submit your suggestions, comments, and questions.
		</p>
		
	</div>
</div>
