<div class='row'>
	<div class='span2'>`</div>
	<div class='span8'>
		<div class='spaced'>
			<div class='center-block'>
			<%= image_tag '/Beta-Header.png', :class=> 'beta-header' %>
			
			<h1>Welcome</h1>
			<p>
				If you've arrived at this page then it's because you want to get your hands-on a pre-release
				version of SIDEXSIDE.<br> 
				We thank you so much for your interest.
			</p>
			<p>
				SIDEXSIDE (pronounced 'side by side') is a simple Shopify Application that allows store administrators to <strong>compare
				products and variants side by side</strong>. It also has some handy <strong>editing and merging features</strong>.
			</p>
			<h1>Installation</h1>
			<p>
				To install the application, click on this <%= link_to 'link', '/', :target => "_blank" %>.
				The page will ask you to enter the URL of your store. Your URL will be someting like
				<code>http://the-name-of-my-store.myshopify.com.</code>
			</p>
			<%= image_tag '/Beta-Install1.png', :class => 'beta-install' %>
			<%= image_tag '/Beta-Install2.png', :class => 'beta-install' %>
			
			<p>
				Enter the URL, click <a class='btn btn-primary'>Install</a>.
				You will be asked to allow SIDEXSIDE to access and modify your store. Click <a class='btn'>Install</a>
				and you're ready to start
				enjoying SIDEXSIDE. <br />
				Once installed, be sure to visit the <strong><%= link_to 'Help and Support', '/help' %></strong> page for full instructions on using SIDEXSIDE.
			</p>
			<h1>Follow-up</h1>
			<p>
				If you have any questions, suggestions, or general comments, please visit our <%= link_to 'Feedback', '/feedback' %> page.
			</p>
			</div>
		</div>
	</div>
</div>
