<div class='row'>
	<div class='span2'>
		<div class='well'>
			<strong>Instructions</strong>
			<p>
				It's Simple! Choose a product, and then choose 2 variants to compare.
			</p>
		</div>
	</div>
	<div class='main-panel span10'>
		<%= form_tag "/compare_variants", :method => "post" do %>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :product_id %>
					<%= select_tag :product_id %> </td>
					<td class="product-column"></td>
				</tr>
			</table>
		</div>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :variant_1_id %>
					<%= select_tag :variant_1_id %> </td>
					<td class="product-column"> <%= label_tag :variant_2_id %>
					<%= select_tag :variant_2_id %>
					<br/>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<table class="compare-table">
			<tr>
				<th class="criteria-column"></th>
				<th class="product-column" id='variant_1_header'></th>
				<th class="product-column" id='variant_2_header'></th>
			</tr>
			<tr>
				<td><strong>Price:</strong></td>
				<td id='variant_1_price'></td>
				<td id='variant_2_price'></td>
			</tr>
			<tr>
				<td><strong>Requires Shipping:</strong></td>
				<td id='variant_1_requires_shipping'></td>
				<td id='variant_2_requires_shipping'></td>
			</tr>
			<tr>
				<td><strong>Inventory Quantity:</strong></td>
				<td id='variant_1_inventory_quantity'></td>
				<td id='variant_2_inventory_quantity'></td>
			</tr>
		</table>
	</div>
</div>
<script type='text/javascript'>
	$(function() {
		retrieveProductsAndLoadSelect(false, ["#product_id"]);
		retrieveVariantsAndLoadSelect(false, ["#variant_1_id", "#variant_2_id"]);
		
		retrieveVariantAndLoadData(true, $("#variant_1_id").val(), "1");
		retrieveVariantAndLoadData(true, $("#variant_2_id").val(), "2");
	});

	$("#product_id").change(function() {
		retrieveVariantsAndLoadSelect(false, ["#variant_1_id", "#variant_2_id"]);
	});
	
	$("#variant_1_id").change(function() {
		retrieveVariantAndLoadData(true, $("#variant_1_id").val(), "1");
	});

	$("#variant_2_id").change(function() {
		retrieveVariantAndLoadData(true, $("#variant_2_id").val(), "2");
	});
</script>
