<div class="row">
	<div class="span2">
		<div class="well">
			<strong>Instructions</strong>
			<p>
				It's Simple! Choose 2 products to view information about each.
			</p>
		</div>
	</div>
	<div class="main-panel span10">
		<%= form_tag "/compare_products", :method => "post" do %>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :product_1_id %>
					<%= select_tag :product_1_id %> </td>
					<td class="product-column"> <%= label_tag :product_2_id %>
					<%= select_tag :product_2_id %>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<table class="compare-table">
			<tr>
				<th class="criteria-column"></th>
				<th class="product-column" id="product_1_header"></th>
				<th class="product-column" id="product_2_header"></th>
			</tr>
			<tr>
				<td><strong>Image: </strong></td>
				<td><div class='center-block' id="product_1_image"></div></td>
				<td><div class='center-block' id="product_2_image"></div></td>
			</tr>
			<tr>
				<td><strong>Type: </strong></td>
				<td id="product_1_product_type"></td>
				<td id="product_2_product_type"></td>
			</tr>
			<tr>
				<td><strong>Price Range: </strong></td>
				<td id="product_1_price_range"></td>
				<td id="product_2_price_range"></td>
			</tr>
			<tr>
				<td><strong>Vendor: </strong></td>
				<td id="product_1_vendor"></td>
				<td id="product_2_vendor"></td>
			</tr>
			<tr>
				<td><strong>Desc: </strong></td>
				<td id="product_1_body_html"></td>
				<td id="product_2_body_html"></td>
			</tr>
		</table>
	</div>
	<!-- main panel -->
</div><!-- row -->

<!-- TODO: Move this to approropiate file later -->
<script type="text/javascript">
	$(function(){
		var products = retrieveProductsAndLoadSelect(false, ["#product_1_id", "#product_2_id"]);
		
		retrieveProductAndLoadData(true, $("#product_1_id").val(), "1");
		retrieveProductAndLoadData(true, $("#product_1_id").val(), "2");
	});
	
	$("#product_1_id").change(function(){
		retrieveProductAndLoadData(true, $("#product_1_id").val(), "1");
	});
	
	$("#product_2_id").change(function(){
		retrieveProductAndLoadData(true, $("#product_2_id").val(), "2");
	});
</script>
