<div class="row">
	<div class="span2">
		<div class="well">
			<strong>Instructions</strong>
			<p>
				It's Simple! Choose 2 products to view information about each.
			</p>
		</div>
		<div class="well">
			<strong>Editing</strong>
			<p>
				You can also double-click the value of certain fields to edit them.
			</p>
		</div>
	</div>
	<div class="main-panel span10">
		<%= form_tag "/compare_products", :method => "post" do %>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :product_1_id %>
					<%= select_tag :product_1_id %> </td>
					<td class="product-column"> <%= label_tag :product_2_id %>
					<%= select_tag :product_2_id %>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<table class="compare-table">
			<tr>
				<th class="criteria-column"></th>
				<th class="compare-column" id="product_1_header"><%= loader %></th>
				<th></th>
				<th class="compare-column" id="product_2_header"><%= loader %></th>
			</tr>
			<tr>
				<td><strong>Image: </strong></td>
				<td><div class='center-block' id="product_1_image"></div></td>
				<td></td>
				<td><div class='center-block' id="product_2_image"></div></td>
			</tr>
			
			<% @product_keys.each do |product_key| %>
				<tr>
					<td><strong><%= product_key.friendly_name %>: </strong></td>
					<td id="product_1_<%= product_key.key %>"></td>
					<td>
						<% if product_key.editable %>
							<a class='btn merge' data-number="1" data-key_name='<%= product_key.key %>'>&lt;</a>
							<a class='btn merge' data-number="2" data-key_name='<%= product_key.key %>'>&gt;</a>
						<% end %>
					</td>
					<td id="product_2_<%= product_key.key %>"></td>
				</tr>
			<% end %>
		</table>
	</div>
	<!-- main panel -->
</div><!-- row -->

<!-- TODO: Move this to approropiate file later -->
<script type="text/javascript">
	$(function(){
		var products = retrieveProductsAndLoadSelect(false, ["#product_1_id", "#product_2_id"]);
		
		refreshProduct("1");
		refreshProduct("2");
	});
	
	$("#product_1_id").change(function(){
		$("#product_1_header").html('<%= loader %>');
		refreshProduct("1");
	});
	
	$("#product_2_id").change(function(){
		$("#product_2_header").html('<%= loader %>');
		refreshProduct("2");
	});
	
	$(".merge").on("click", function(){
		merge("product", $(this).data("number"), $(this).data("key_name"));
	});
</script>
