<div class='row'>
	<div class='span2'>
		<div class='well'>
			<strong>Instructions</strong>
			<p>
				It's Simple! Choose a product, and then choose 2 variants to compare.
			</p>
		</div>
		<div class="well">
			<strong>Editing</strong>
			<p>
				You can also double-click the value of certain fields to edit them.
			</p>
		</div>
		<div class="well">
			<strong>Merging</strong>
			<p>
				Click on either of the merge buttons <br />
				<a class='btn'>&lt;</a> <a class='btn'>&gt;</a><br />
				to copy information from right-to-left or from left-to-right and then click on Save to
				save those changes.
			</p>
		</div>
	</div>
	<div class='main-panel span10'>
		<%= form_tag "/compare_variants", :method => "post" do %>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :product_id %>
					<%= select_tag :product_id %> </td>
					<td class="product-column">
						<div id='product_image'>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="variant-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :variant_1_id %>
					<%= select_tag :variant_1_id %> </td>
					<td class="product-column"> <%= label_tag :variant_2_id %>
					<%= select_tag :variant_2_id %>
					<br/>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<table class="compare-table">
			<tr>
				<th class="criteria-column"></th>
				<th class="compare-column" id='variant_1_header'><%= loader %></th>
				<th></th>
				<th class="compare-column" id='variant_2_header'><%= loader %></th>
			</tr>
			
			<% @variant_keys.each do |variant_key| %>
				<tr>
					<td><strong><%= variant_key.friendly_name %>:</strong></td>
					<td id='variant_1_<%= variant_key.key %>'></td>
					<td>
						<% if variant_key.editable %>
							<a class='btn merge' id='merge_1_<%= variant_key.key %>' data-number="1" data-key_name='<%= variant_key.key %>'>&lt;</a>
							<a class='btn merge' id='merge_2_<%= variant_key.key %>' data-number="2" data-key_name='<%= variant_key.key %>'>&gt;</a>
						<% end %>
					</td>
					<td id='variant_2_<%= variant_key.key %>'></td>
				</tr>
			<% end %>
			
			<tr>
				<td></td>
				<td>
					<a class='btn save-all-button btn-success' data-number="1">Save All</a>
					<a class='btn discard-all-button btn-danger' data-number="1">Discard All</a>
				</td>
				<td></td>
				<td>
					<a class='btn save-all-button btn-success' data-number="2">Save All</a>
					<a class='btn discard-all-button btn-danger' data-number="2">Discard All</a>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<script type='text/javascript'>
	$(function() {
		retrieveProductsAndLoadSelect(false, ["#product_id"]);
		retrieveProductImageAndLoad($("#product_id").val(), "#product_image");
		retrieveVariantsAndLoadSelect(false, ["#variant_1_id", "#variant_2_id"]);
		
		retrieveVariantAndLoadData(true, $("#variant_1_id").val(), "1");
		retrieveVariantAndLoadData(true, $("#variant_2_id").val(), "2");
	});

	$("#product_id").change(function() {
		retrieveProductImageAndLoad($("#product_id").val(), "#product_image");
		
		$("#variant_1_header").html('<%= loader %>');
		$("#variant_2_header").html('<%= loader %>');
		
		retrieveVariantsAndLoadSelect(false, ["#variant_1_id", "#variant_2_id"]);
		retrieveVariantAndLoadData(true, $("#variant_1_id").val(), "1");
		retrieveVariantAndLoadData(true, $("#variant_2_id").val(), "2");
	});
	
	$("#variant_1_id").change(function() {
		$("#variant_1_header").html('<%= loader %>');
		retrieveVariantAndLoadData(true, $("#variant_1_id").val(), "1");
	});

	$("#variant_2_id").change(function() {
		$("#variant_2_header").html('<%= loader %>');
		retrieveVariantAndLoadData(true, $("#variant_2_id").val(), "2");
	});
	
	$(".merge").on("click", function(){
		merge("variant", $(this).data("number"), $(this).data("key_name"));
	});
	
	$(".save-all-button").on("click", function(){
		saveAll($(this).data("number"));
	});
	
	$(".discard-all-button").on("click", function(){
		discardAll($(this).data("number"));
	});
	
	/* TODO: Move this to the .js file once we figure out how to access @instance_variables in .js.erb files */
	function loadVariant(variant, variant_number) {
		$("#variant_" + variant_number + "_header").html(editableVariantTag(variant.id, "title", variant.title, variant_number));
		
		<% @variant_keys.each do |variant_key| %>
			<% if variant_key.editable %>
				$("#variant_" + variant_number + "_<%= variant_key.key %>").html(editableVariantTag(variant.id, "<%= variant_key.key %>", variant.<%= variant_key.key %>, variant_number));
			<% else %>
				$("#variant_" + variant_number + "_<%= variant_key.key %>").html(variant.<%= variant_key.key %>);
			<% end %>
		<% end %>
			
		/* TODO: This is an awful work around for event handlers being added twice */
		$(".editable").off("dblclick", swapInVariantUpdateForm);
		$(".editable").on("dblclick", swapInVariantUpdateForm);
	}
</script>
