<div class="row">
	<div class="span2">
		<div class="well">
			<strong>Instructions</strong>
			<p>
				It's Simple! Choose 2 products to view information about each.
			</p>
		</div>
		<div class="well">
			<strong>Editing</strong>
			<p>
				You can also double-click the value of certain fields to edit them.
			</p>
		</div>
	</div>
	<div class="main-panel span10">
		<%= form_tag "/compare_products", :method => "post" do %>
		<div class="product-select">
			<table class="product-select-table">
				<tr class="product-select-row">
					<td class="criteria-column"></td>
					<td class="product-column"> <%= label_tag :product_1_id %>
					<%= select_tag :product_1_id %> </td>
					<td class="product-column"> <%= label_tag :product_2_id %>
					<%= select_tag :product_2_id %>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<table class="compare-table">
			<tr>
				<th class="criteria-column"></th>
				<th class="compare-column" id="product_1_header"><%= loader %></th>
				<th></th>
				<th class="compare-column" id="product_2_header"><%= loader %></th>
			</tr>
			<tr>
				<td><strong>Image: </strong></td>
				<td><div class='center-block' id="product_1_image"></div></td>
				<td></td>
				<td><div class='center-block' id="product_2_image"></div></td>
			</tr>
			<tr>
				<td><strong>Handle: </strong></td>
				<td id="product_1_handle"></td>
				<td>
					<a class='btn merge' data-number="1" data-key_name='handle'>&lt;</a>
					<a class='btn merge' data-number="2" data-key_name='handle'>&gt;</a>
				</td>
				<td id="product_2_handle"></td>
			</tr>
			<tr>
			<td><strong>Tags: </strong></td>
				<td id="product_1_tags"></td>
				<td>
					<a class='btn merge' data-number="1" data-key_name='tags'>&lt;</a>
					<a class='btn merge' data-number="2" data-key_name='tags'>&gt;</a>
				</td>
				<td id="product_2_tags"></td>
			</tr>
			<tr>
				<td><strong>Type: </strong></td>
				<td id="product_1_product_type"></td>
				<td>
					<a class='btn merge' data-number="1" data-key_name='product_type'>&lt;</a>
					<a class='btn merge' data-number="2" data-key_name='product_type'>&gt;</a>
				</td>
				<td id="product_2_product_type"></td>
			</tr>
			<tr>
				<td><strong>Vendor: </strong></td>
				<td id="product_1_vendor"></td>
				<td>
					<a class='btn merge' data-number="1" data-key_name='vendor'>&lt;</a>
					<a class='btn merge' data-number="2" data-key_name='vendor'>&gt;</a>
				</td>
				<td id="product_2_vendor"></td>
			</tr>
			<tr>
				<td><strong>Desc: </strong></td>
				<td id="product_1_body_html"></td>
				<td>
					<a class='btn merge' data-number="1" data-key_name='body_html'>&lt;</a>
					<a class='btn merge' data-number="2" data-key_name='body_html'>&gt;</a>
				</td>
				<td id="product_2_body_html"></td>
			</tr>
		</table>
	</div>
	<!-- main panel -->
</div><!-- row -->

<!-- TODO: Move this to approropiate file later -->
<script type="text/javascript">
	$(function(){
		var products = retrieveProductsAndLoadSelect(false, ["#product_1_id", "#product_2_id"]);
		
		refreshProduct("1");
		refreshProduct("2");
	});
	
	$("#product_1_id").change(function(){
		$("#product_1_header").html('<%= loader %>');
		refreshProduct("1");
	});
	
	$("#product_2_id").change(function(){
		$("#product_2_header").html('<%= loader %>');
		refreshProduct("2");
	});
	
	$(".merge").on("click", function(){
		merge("product", $(this).data("number"), $(this).data("key_name"));
	});
</script>
