<header class="jumbotron">
  <div class="inner">
    <div class="container">
      <h1 style="letter-spacing:-3px; margin-bottom:20px;"><%= image_tag 'Logo.png' %></h1>
      <p class="lead">A simple app to let you <strong>compare</strong> and <strong>merge</strong> information
      	about your products.</p>
    </div><!-- /container -->
  </div>
</header>

<div class="row">
  <div class="span3">
  	<div class="well">
  		<strong>Instructions</strong>
  		<p>
  			It's Simple! Choose 2 products to view information about each.
  		</p>
  	</div>
  </div> <!-- span3 / left-column -->


  <div class="span8 offset1 main-panel">
    <h2>Product Compare</h2>

    <table class="compare-table">
    	<tr class="product-select-row">
    		<%= form_tag "/home", :method => "post" do %>
    		<td>
    			<%= label_tag :product_1_id %>
    			<%= select_tag :product_1_id, options_from_collection_for_select(@products, "id", "title", :selected => @product1.id) %>			
    		</td>
    		<td>
    			<%= label_tag :product_2_id %>
    			<%= select_tag :product_2_id, options_from_collection_for_select(@products, "id", "title", :selected => @product2.id) %>
    			<br/>
    			<%= submit_tag "Compare" %>
    		</td>
    		
    	</tr>
    	<tr class="produc">
    		<td>
    			
    		</td>
    		<td>

    		</td>
    		<% end %>
    	</tr>
    	<tr>
    		<% @products_to_compare.each do |product| %>
	    		<td>
	    			<div>
	    				<h3><%= product.title %></h3>
	    				<ul class="product-info">
	    					<li><%= image_tag product.images[0].src, :class => "product-image" unless product.images[0].nil? %></li>
	    					<li><strong>Type: </strong><%= product.product_type %></li>
	    					<li><strong>Price Range: </strong><%= product.price_range %></li>
	    					<li><strong>Vendor: </strong><%= product.vendor %></li>
	    					<li><strong>Description: </strong><%= raw(product.body_html) %></li>
	    				</ul>	
	    			</div>
	    		</td>
	    	<% end %>
    	</tr>
    
    </table>
  </div> <!-- span8 / right-column -->
</div>